<div {height:400px; width:600px}/>
<p.solid {border-style: solid;}
div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
p.ex4 {display: inline-block;}
h2 {
  position: static;
  left: 100px;
  top: 150px;
}
img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
